snippet ifmain
	if __name__ == "__main__":
		${1:main()}

snippet iscrap
	import requests
	from selectolax.parser import HTMLParser

snippet rsession
	with requests.Session() as session:
		response = session.get(${1:url})
		print(response)

snippet wopen
	with open(${1:file}, "r", encoding="utf-8") as f:
		${2:data} = f.read()

snippet wwrite
	with open(${1:file}, "w", encoding="utf-8") as f:
		f.write(${2:data})
